# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Testing
.pytest_cache/

# Environment / secrets
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Database
*.db
!03-N100-Financial-Intelligence-Platform/Sprint-01-Data-Foundation/nifty100.db

# VS Code
.vscode/
